.filterP {
  display: table;
  margin: 0 auto;
}

.trainerFilter {
  list-style: none;
  padding: 50px 0 40px 0;
}
.trainerFilter li {
  padding: 0 35px;
  margin: 0;
  display: inline;
  font-weight: 400;
  position: center;
}

.trainerFilter li a {
  border-radius: 0;
  color: #000000;
  font-size: 18px;
  font-weight: 300;
  padding: 0 25px;
  border: none;
  text-align: left;
}

.trainerFilter li a:hover,
.trainerFilter li a:focus {
  background: transparent;
  box-shadow: none;
  color: #0851e2;
}
