.top-menu-bar {
  background-color: transparent;
  z-index: 9;
  margin: 10px 70px;
  padding: 30px 20px;
}

.top-menu-bar ul {
  padding: 0;
  margin: 8px 0 0 0;
}

.top-menu-bar ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
  font-weight: 400;
}

.top-menu-bar ul li a {
  position: relative;
  font-size: 16px;
  padding: 30px 20px;
  color: #4b73d4;
  /*-webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;*/
}

.top-menu-bar ul li a:hover {
  color: #F24976;
}
